<?xml version="1.0" encoding="utf-8"?>
<!--
  - SPDX-FileCopyrightText: 2026 Hoang Pham
  - SPDX-License-Identifier: AGPL-3.0-or-later
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="../../vendor/phpunit/phpunit/phpunit.xsd"
	bootstrap="bootstrap.php"
	colors="true"
	failOnWarning="true"
	failOnRisky="true">
	<testsuites>
		<testsuite name="unit">
			<directory>.</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>../../lib</directory>
		</include>
	</source>
</phpunit>
